name: backend
services:
  task-definitions:
    container_name: task-definitions
    image: public.ecr.aws/zebrunner/task-definitions:3.1.7
    env_file:
      - ./properties/config.env
      - ./properties/task-definitions.env
      - ./properties/data.env
    restart: always
  scaler:
    container_name: scaler
    image: public.ecr.aws/zebrunner/scaler:3.1.7
    env_file:
      - ./properties/config.env
      - ./properties/scaler.env
      - ./properties/data.env
    restart: always
    depends_on: 
      - migration
  router_1:
    container_name: router_1
    image: public.ecr.aws/zebrunner/router:3.1.7
    environment:
      - EXTERNAL_PORT=$ROUTER_PORT_1
    env_file:
      - ./properties/config.env
      - ./properties/router.env
      - ./properties/data.env
    ports:
      - "$ROUTER_PORT_1:4444"
    logging:
     options:
      max-size: "512m"
    restart: always
    depends_on: 
      - task-definitions
  router_2:
    container_name: router_2
    image: public.ecr.aws/zebrunner/router:3.1.7
    environment:
      - EXTERNAL_PORT=$ROUTER_PORT_2
    env_file:
      - ./properties/config.env
      - ./properties/router.env
      - ./properties/data.env
    ports:
        - "$ROUTER_PORT_2:4444"
    logging:
     options:
      max-size: "512m"
    restart: always
    depends_on: 
      - task-definitions
  migration:
    image: public.ecr.aws/zebrunner/migration:2.0
    container_name: migration
    env_file:
      - ./properties/data.env
      - ./properties/migration.env
