version: "3.8"
name: backend
services:
  scaler:
    container_name: scaler
    image: public.ecr.aws/zebrunner/scaler:latest
    env_file:
      - scaler.env
    networks:
      - service-network
    restart: always
#    volumes:
#      - "${HOME}/.aws:/root/.aws"
  router_1:
    container_name: router_1
    image: public.ecr.aws/zebrunner/router:latest
    environment:
      - EXTERNAL_PORT=$ROUTER_PORT_1
    env_file:
      - router.env
    ports:
      - "$ROUTER_PORT_1:4444"
    logging:
     options:
      max-size: "512m"
    networks:
      - service-network
    restart: always
    #    volumes:
    #      - "${HOME}/.aws:/root/.aws"
  router_2:
    container_name: router_2
    image: public.ecr.aws/zebrunner/router:latest
    environment:
      - EXTERNAL_PORT=$ROUTER_PORT_2
    env_file:
      - router.env
    ports:
        - "$ROUTER_PORT_2:4444"
    logging:
     options:
      max-size: "512m"
    networks:
      - service-network
    restart: always
    #    volumes:
    #      - "${HOME}/.aws:/root/.aws"
networks:
  service-network:
    external: true
    name: e3s-network
